@import "zwe-less/zwe";

@fontText: "HelveticaNeueW01-45Ligh";
@fontTitle: "Showcard Gothic";

.font-face(@fontTitle, "../font/showcard-gothic/showcard");

body {
  font-family: @fontText;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @fontTitle;
}

.container {
  width: 940px;
}