/*----------------------------------------*\
 *                Utilities               *
\*----------------------------------------*/

/**
 * Here are all the mixins and classes that could really help the developer with
 * his/her pages.
 */

/*----------------------------------------*\
 *              $DEPENDENCIES             *
\*----------------------------------------*/
@import "vendor";

/**
  * ----------------------------------------
  * $CONTENTS
  * ----------------------------------------
  * CONTENTS
  * CENTER BLOCK
  * CLEARFIX
  * DESCRIPTIONS
  *   DESCRIPTION-VERTICAL
  *   DESCRIPTION-HORIZONTAL
  * FONT-FACE
  * LISTS
  *   LIST-UNSTYLED
  *   LIST-INLINE
  * SIZE
  *   SIZE-SQUARE
  *   SIZE-RECTANGLE
  * TEXT-TRUNCATE
  */

/*----------------------------------------*\
 *              $CENTER-BLOCK             *
\*----------------------------------------*/
.center-block {
       display: block;

   margin-left: auto;
  margin-right: auto;
}

/*----------------------------------------*\
 *                $CLEARFIX               *
\*----------------------------------------*/
/**
 * Source: http://nicolasgallagher.com/micro-clearfix-hack/
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 * 3. For IE 6/7 only
 *    Triggers `hasLayout`
 */
.clearfix {
  *zoom: 1; // 3

  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

/*----------------------------------------*\
 *              $DESCRIPTIONS             *
\*----------------------------------------*/
/*----------------------------------------*\
 *          $DESCRIPTION-VERTICAL         *
\*----------------------------------------*/
.description-vertical {
	dt {
		font-weight: bold;
	}

	dd {
		margin-left: 10px;
	}
}
/*----------------------------------------*\
 *         $DESCRIPTION-HORIZONTAL        *
\*----------------------------------------*/
.description-horizontal {
	dt {
		float: left;
		width: 160px;
		clear: left;
		text-align: right;

		.text-truncate;
	}

	dd {
		margin-left: 180px;
	}
}

/*----------------------------------------*\
 *               $FONT-FACE               *
\*----------------------------------------*/
.font-face(@font-name, @font-file, @font-weight: normal, @font-style: normal) {
  @font-face {
    font-family: "@{font-name}";
    src: url("@{font-file}-webfont.eot");
    src: url("@{font-file}-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{font-file}-webfont.woff") format("woff"),
         url("@{font-file}-webfont.ttf") format("truetype"),
         url("@{font-file}-webfont.svg#@{font-name}") format("svg");
    font-weight: @font-weight;
    font-style: @font-style;
  }
}

/*----------------------------------------*\
 *                 $LISTS                 *
\*----------------------------------------*/
/*----------------------------------------*\
 *             $LIST-UNSTYLED             *
\*----------------------------------------*/
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
/*----------------------------------------*\
 *              $LIST-INLINE              *
\*----------------------------------------*/
.list-inline {
  .list-unstyled;

  > li {
    .inline-block;

    padding-left: 5px;
    padding-right: 5px;
  }
}

/*----------------------------------------*\
 *                  $SIZE                 *
\*----------------------------------------*/
/*----------------------------------------*\
 *              $SIZE-SQUARE              *
\*----------------------------------------*/
.size(@square) {
  .size(@square, @square);
}
/*----------------------------------------*\
 *            $SIZE-RECTANGLE             *
\*----------------------------------------*/
.size(@width, @height) {
   width: @width;
  height: @height;
}

/*----------------------------------------*\
 *             $TEXT-TRUNCATE             *
\*----------------------------------------*/
/**
 * Requires inline-block or block for proper styling
 */
.text-truncate(@truncate-model: clip) {
     overflow: hidden;
  white-space: nowrap;
  .text-overflow(@truncate-model);
}
.text-truncate {
  .text-truncate(ellipsis);
}