// This file is used to test that the less files compile correctly.
// To do so, all the mixins are used here...

@import "../less/zwe";

// colors.less
body {
	color: @black-10;
	color: @black-20;
	color: @black-30;
	color: @black-40;
	color: @black-50;
	color: @black-60;
	color: @black-70;
	color: @black-80;
	color: @black-90;
}

// vendor.less
.test-backface-visibility {
	.backface-visibility;
}

.test-border-image {
	.border-image;
}

.test-border-radius {
	.border-radius;
}

.test-border-top-left-radius {
	.border-top-left-radius;
}
.test-border-top-right-radius {
	.border-top-right-radius;
}
.test-border-bottom-right-radius {
	.border-bottom-right-radius;
}
.test-border-bottom-left-radius {
	.border-bottom-left-radius;
}
.test-border-top-radius {
	.border-top-radius;
}
.test-border-right-radius {
	.border-right-radius;
}
.test-border-bottom-radius {
	.border-bottom-radius;
}
.test-border-left-radius {
	.border-left-radius;
}

.test-box-shadow {
	.box-shadow;
}

.test-box-sizing {
	.box-sizing;
}

.test-opacity {
	.opacity;
}

// utilities.less
.font-face("Open Sans", opensans, bold, italic);