// This file is used to test that the less files compile correctly.
// To do so, all the mixins are used here...

@import "../less/zwe";

// colors.less
body {
	color: @black-10;
	color: @black-20;
	color: @black-30;
	color: @black-40;
	color: @black-50;
	color: @black-60;
	color: @black-70;
	color: @black-80;
	color: @black-90;
}