.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body {
  color: #e6e6e6;
  color: #cccccc;
  color: #b3b3b3;
  color: #999999;
  color: #808080;
  color: #666666;
  color: #4d4d4d;
  color: #333333;
  color: #191919;
}

.test-backface-visibility {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
          backface-visibility: hidden;
}

.test-border-image {
  -webkit-border-image: url(border.png) 30 30 round;
       -o-border-image: url(border.png) 30 30 round;
          border-image: url(border.png) 30 30 round;
}

.test-border-radius {
  border-radius: 25px;
  background-clip: padding-box;
}

.test-border-top-left-radius {
  border-top-left-radius: 2em;
  background-clip: padding-box;
}

.test-border-top-right-radius {
  border-top-right-radius: 2em;
  background-clip: padding-box;
}

.test-border-bottom-right-radius {
  border-bottom-right-radius: 2em;
  background-clip: padding-box;
}

.test-border-bottom-left-radius {
  border-bottom-left-radius: 2em;
  background-clip: padding-box;
}

.test-border-top-radius {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-clip: padding-box;
}

.test-border-right-radius {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-clip: padding-box;
}

.test-border-bottom-radius {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-clip: padding-box;
}

.test-border-left-radius {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-clip: padding-box;
}

.test-box-shadow {
  -webkit-box-shadow: 10px 10px 5px #888888;
          box-shadow: 10px 10px 5px #888888;
}

.test-box-shadow {
  -webkit-box-shadow: 0 1px 10px #000000, inset 0 -2px 5px #ff0000;
          box-shadow: 0 1px 10px #000000, inset 0 -2px 5px #ff0000;
}

.test-box-sizing {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.test-opacity {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.test-transform {
  -webkit-transform: rotate(7deg);
     -moz-transform: rotate(7deg);
      -ms-transform: rotate(7deg);
       -o-transform: rotate(7deg);
          transform: rotate(7deg);
}

.test-transform3d {
  -webkit-transform: rotate(7deg);
     -moz-transform: rotate(7deg);
          transform: rotate(7deg);
}

.test-transform-origin {
  -webkit-transform-origin: 20% 40%;
     -moz-transform-origin: 20% 40%;
      -ms-transform-origin: 20% 40%;
       -o-transform-origin: 20% 40%;
          transform-origin: 20% 40%;
}

.test-transform-style {
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.test-matrix {
  -webkit-transform: matrix(0.866, 0.5, -0.5, 0.866, 0, 0);
     -moz-transform: matrix(0.866, 0.5, -0.5, 0.866, 0, 0);
      -ms-transform: matrix(0.866, 0.5, -0.5, 0.866, 0, 0);
       -o-transform: matrix(0.866, 0.5, -0.5, 0.866, 0, 0);
          transform: matrix(0.866, 0.5, -0.5, 0.866, 0, 0);
}

.test-matrix3d {
  -webkit-transform: matrix3d(0.866, 0.5, -0.5, 0.866, 0, 0, 0.6, 0.4, 0.34, 0.76, 0.23, 0.2, 0.6, 0.9, -0.4, -0.3);
     -moz-transform: matrix3d(0.866, 0.5, -0.5, 0.866, 0, 0, 0.6, 0.4, 0.34, 0.76, 0.23, 0.2, 0.6, 0.9, -0.4, -0.3);
          transform: matrix3d(0.866, 0.5, -0.5, 0.866, 0, 0, 0.6, 0.4, 0.34, 0.76, 0.23, 0.2, 0.6, 0.9, -0.4, -0.3);
}

.test-translate {
  -webkit-transform: translate(10px, 3px);
     -moz-transform: translate(10px, 3px);
      -ms-transform: translate(10px, 3px);
       -o-transform: translate(10px, 3px);
          transform: translate(10px, 3px);
}

.test-translate3d {
  -webkit-transform: translate3d(10px, 3px, 20px);
     -moz-transform: translate3d(10px, 3px, 20px);
          transform: translate3d(10px, 3px, 20px);
}

.test-translateX {
  -webkit-transform: translateX(10px);
     -moz-transform: translateX(10px);
      -ms-transform: translateX(10px);
       -o-transform: translateX(10px);
          transform: translateX(10px);
}

.test-translateY {
  -webkit-transform: translateY(3px);
     -moz-transform: translateY(3px);
      -ms-transform: translateY(3px);
       -o-transform: translateY(3px);
          transform: translateY(3px);
}

.test-translateZ {
  -webkit-transform: translateZ(20px);
     -moz-transform: translateZ(20px);
          transform: translateZ(20px);
}

.test-scale-one-argument {
  -webkit-transform: scale(2);
     -moz-transform: scale(2);
      -ms-transform: scale(2);
       -o-transform: scale(2);
          transform: scale(2);
}

.test-scale-two-arguments {
  -webkit-transform: scale(2, 3);
     -moz-transform: scale(2, 3);
      -ms-transform: scale(2, 3);
       -o-transform: scale(2, 3);
          transform: scale(2, 3);
}

.test-scale3d {
  -webkit-transform: scale3d(2, 3, 4);
     -moz-transform: scale3d(2, 3, 4);
          transform: scale3d(2, 3, 4);
}

.test-scaleX {
  -webkit-transform: scaleX(2);
     -moz-transform: scaleX(2);
      -ms-transform: scaleX(2);
       -o-transform: scaleX(2);
          transform: scaleX(2);
}

.test-scaleY {
  -webkit-transform: scaleY(3);
     -moz-transform: scaleY(3);
      -ms-transform: scaleY(3);
       -o-transform: scaleY(3);
          transform: scaleY(3);
}

.test-scaleZ {
  -webkit-transform: scaleZ(4);
     -moz-transform: scaleZ(4);
          transform: scaleZ(4);
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: bold;
  src: url("opensans-webfont.eot");
  src: url("opensans-webfont.eot?#iefix") format("embedded-opentype"), url("opensans-webfont.woff") format("woff"), url("opensans-webfont.ttf") format("truetype"), url("opensans-webfont.svg#Open Sans") format("svg");
}

.test-square {
  width: 10px;
  height: 10px;
}

.test-rectangle {
  width: 10px;
  height: 20px;
}
