<a href="https://github.com/Zweer/zwe-less"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

<header class="nav" role="banner">
    <div class="container">
        <nav role="navigation">
            <ul class="list-inline">
                <li{% if page.slug == "home" %} class="active"{% endif %}>
                    <a href="{{ page.base_url }}">ZweLess</a>
                </li>

                <li{% if page.slug == "getting-started" %} class="active"{% endif %}>
                <a href="{{ page.base_url }}getting-started">Getting Started</a>
                </li>
            </ul>
        </nav>
    </div>
</header>